@charset "UTF-8";

.accordion-button {
    background-color:antiquewhite;
}
.hamburger_subMenu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}
.hamburger_subMenu li {
    cursor: pointer;
}
.hamburger_subMenu li:hover {
    color: #ccc;
}
