@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
#input {
    width: 50%;
    height: 50px;
    margin: 50px 10px 50px 0px;
    border-radius: 10px;
    border: none;
    background-color: rgb(206, 223, 255);
    padding: 0 20px;
}
#searchButton {
    width: 120px;
    height: 50px;
    background-color: cornflowerblue;
    color: #fff;
    border: none;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}
#searchButton:hover {
    background-color: rgb(38, 98, 209);
}
#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
}
.book-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
}
.book-item img {
    max-width: 100%;
    height: auto;
}
.book-item div {
    font-size: 12px;
}