@charset "UTF-8";

/* 네이버랩스 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* 구글폰트 Roboto */
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');
/* font-awsome v5.10 */


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid cornflowerblue; */
}
:root {
    font-family: "Roboto", sans-serif;
    /* --swiper-theme-color: #000; */
}
header, .sec, .inner {
    display: flex;
    margin: 0 auto;
}
header {
    width: 100%;
    height: 119px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.logo_sprite {
    width: 185px;
    height: 19px;
    margin-right: 50px;
    background-image: url(/ex/img/naverlabs/logo_sprites.png);
    background-position: -10px -10px;
    /* 여기서부터 3줄은 a 태그 안에 있는 글씨를 숨기는 것 */
    display: block;
    text-indent: -9000px;
    /* 양수로 보내면 스크롤바가 생김 */
    overflow: hidden;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu span {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-right: 26px;
    position: relative;
    transition: color 0.3s;
}
.menu span::after {
    content: "";
    position: absolute;
    left: -1px;
    bottom: -8px;
    width: 0;
    height: 3px;
    background-color: #0066FE;
    transition: width 0.3s;
}
.menu span:hover::after {
    width: 100%;
}
.menu span:last-child {
    margin-right: 0;
}
.eng {
    display: flex;
    padding: 8px 5px 8px 8px;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 3px;
    margin-left: 50px;
    transition: 0.3s ease;
}
.eng:hover {
    background-color:#0066FE;
    color: #fff;
}
header .menu .menuClose {
    display: none;
}
.sec {
    margin-top: 119px;
    width: 1529px;
}
.inner {
    width: 1201px;
    padding: 50px 0;
    align-items: flex-start;
    gap: 100px;
}
aside {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
}
.keywords {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}
button {
    display: inline-flex;
    width: auto;
    font-family: inherit;
    /* <button>은 부모의 font-family를 상속받지 않는 태그이므로, inherit선언을 해주거나 개별로 속성값을 지정해 줘야 한다. */
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.4px;
    color: #747474;
    border-radius: 2px;
    border: 1px solid #BABABA;
    background: #E8E8E9;
    padding: 3px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s, color 0.3s;
}
button:hover {
    background-color: #0066FE;
    color: #fff;
    border: 1px solid #074BB2;
}
.news {
    display: flex;
    flex-direction: column;
    width: 987px;
    gap: 34px;
}
/* swiper */
.swiper {
    width: 100%;
    height: 507px;
    z-index: 0;
}
.swiper-button-prev,
.swiper-button-next {
    display: none;
}
/* 스와이퍼 페이지네이션 캐러셀 하단으로 위치 조정 */
.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    top: auto;
    bottom: 10px;
}
.mySwiper .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: var(--swiper-theme-color);
    --swiper-theme-color: #000;
}
/* swiper end */
.slideContent {
    margin-bottom: 50px;
}
.slideContent h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 32px 0 14px;
}
.recent {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1.2px;
    position: relative;
}
.recent::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    top: 5px;
    left: 67px;
    background: url(/ex/img/naverlabs/Polygon.png) no-repeat;
}
article {
    display: flex;
    width: 987px;
    flex-direction: column;
}
.articleOne {
    display: flex;
    justify-content: space-between;
}
.articleThumbnail {
    order: 2;
    width: 280px;
    height: 150px;
    background: url(/ex/img/naverlabs/article.png);
}
.articleText {
    display: flex;
    width: 665px;
    flex-direction: column;
    order: 1;
    gap: 24px;
}
.articleText h3 {
    font-size: 20px;
    font-weight: 700;
}
.articleText p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
}
.dateInfo {
    color: #B5B5B5;
    font-size: 13px;
    font-weight: 500;
}
.dateInfo span:first-child {
    margin-right: 28px;
    position: relative;
}
.dateInfo span:first-child::after {
    width: 1px;
    height: 10px;
    background: #ccc;
    content: "";
    position: absolute;
    top: 2px;
    right: -15px;
}
.article {
    flex-direction: row;
}
.article.keywords {
    padding-bottom: 30px;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 40px;
}
.footerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    width: 100%;
    height: 100px;
    background-color: #000;
    color: #989898;
    margin: 0 auto;
}
.socialGroup, .corpArea, .corpList {
    display: flex;
}
.socialGroup {
    width: 497px;
    justify-content: space-between;
    padding-left: 31px;
}
.corpArea {
    width: 587px;
    justify-content: space-between;
    align-items: center;
}
.siteButton {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 135px;
    height: 32px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid rgba(152, 152, 152, 0.70);
    background-color: #000;
    color: #989898;
    cursor: pointer;
}
.socialGroup li {
    list-style-type: none;
    position: relative;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.corpList {
    gap: 20px;
    justify-content: space-between;
    align-items: center;
}
.corpList span {
    cursor: pointer;
}
.social::after {
    position: absolute;
    width: 23px;
    height: 23px;
    left: -28px;
    top: 0px;
    content: "";
}
.facebook::after {
    background: url(/ex/img/naverlabs/facebook.png) no-repeat;
}
.instagram::after {
    background: url(/ex/img/naverlabs/insta.png) no-repeat;
}
.youtube::after {
    background: url(/ex/img/naverlabs/youtube.png) no-repeat;
}
.linkedin::after {
    background: url(/ex/img/naverlabs/linkedin.png) no-repeat;
}