@charset "UTF-8";

/* 네이버랩스 */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* 구글폰트 Roboto */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid cornflowerblue; */
}
:root {
    font-family: "Roboto", sans-serif;
}
.header, .sec, .inner {
    display: flex;
    margin: 0 auto;
}
div.header {
    width: 1529px;
    height: 119px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #000;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.menu img {
    max-width: 100%;
    height: 18.97px;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.menu ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}
.menu ul li {
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    margin-right: 26px;
    position: relative;
    transition: color 0.3s;
}
.menu ul li::after {
    content: "";
    position: absolute;
    left: -1px;
    bottom: -5px;
    width: 100%;
    height: 5px;
    background-color: transparent;
    transition: background-color 0.3s;
}
.menu ul li:hover::after {
    background-color: #0066FE;
}
.menu ul li:last-child {
    margin-right: 0;
}
.eng {
    display: flex;
    padding: 10px 8px 10px 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 3px;
}
.sec {
    margin-top: 119px;
    width: 1529px;
}
.inner {
    width: 1201px;
    padding: 50px 0;
    align-items: flex-start;
    gap: 100px;
}
aside {
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-size: 20px;
    font-weight: 800;
    letter-spacing: 1px;
}
.keywords {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}
button {
    display: inline-flex;
    width: auto;
    font-family: inherit;
    /* <button>은 부모의 font-family를 상속받지 않는 태그이므로, inherit선언을 해주거나 개별로 속성값을 지정해 줘야 한다. */
    font-size: 10px;
    font-weight: 400;
    letter-spacing: -0.4px;
    color: #747474;
    border-radius: 2px;
    border: 1px solid #BABABA;
    background: #E8E8E9;
    padding: 3px 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s, color 0.3s;
}
button:hover {
    background-color: #0066FE;
    color: #fff;
    border: 1px solid #074BB2;
}
.news {
    display: flex;
    flex-direction: column;
    width: 987px;
    gap: 34px;
}
/* swiper */
html, body {
    position: relative;
    height: 100%;
}
.swiper {
    width: 100%;
    height: 507px;
    z-index: 0;
}
.swiper-slide {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.swiper-pagination-bullet {
    width: 60px;
    height: 4px;
    background-color: #D9D9D9;
    margin: 0.2px;
    border-radius: 0;
}
.swiper-pagination-bullet-active {
    background-color: #0066FE;
}
.slideContent {
    margin: 0 0 63px 81px;
}
.slideContent h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 32px 0 14px;
}
.slideContent p {
    color: #B5B5B5;
    font-size: 13px;
    font-weight: 500;
}
.recent {
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 1.2px;
    position: relative;
}
.recent::after {
    content: "";
    position: absolute;
    width: 11px;
    height: 11px;
    top: 5px;
    left: 67px;
    background: url(/ex/img/naverlabs/Polygon.png) no-repeat;
}
article {
    display: flex;
    width: 987px;
    flex-direction: column;
}
.articleOne {
    display: flex;
    justify-content: space-between;
}
.articleThumbnail {
    order: 2;
    width: 280px;
    height: 150px;
    background: url(/ex/img/naverlabs/article.png);
}
.articleText {
    display: flex;
    width: 665px;
    flex-direction: column;
    order: 1;
    gap: 24px;
}
.articleText h3 {
    font-size: 20px;
    font-weight: 700;
}
.articleText p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
}
.articleText p:last-of-type {
    color: #B5B5B5;
    font-size: 13px;
    font-weight: 500;
}
.article {
    flex-direction: row;
}
.article.keywords {
    padding-bottom: 30px;
    border-bottom: 1px solid #cacaca;
    margin-bottom: 40px;
}
.footerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    width: 100%;
    height: 100px;
    background-color: #000;
    color: #989898;
    margin: 0 auto;
}
.socialGroup, .corpArea, .corpList {
    display: flex;
}
.socialGroup {
    width: 497px;
    justify-content: space-between;
    padding-left: 31px;
}
.corpArea {
    width: 587px;
    justify-content: space-between;
    align-items: center;
}
.siteButton {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 136px;
    height: 32px;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid rgba(152, 152, 152, 0.70);
}
li {
    list-style-type: none;
    position: relative;
    font-size: 20px;
    font-weight: 500;
}
.corpList {
    gap: 20px;
    justify-content: space-between;
}
.corpList > li {
    font-size: 16px;
}
.social::after {
    position: absolute;
    width: 23px;
    height: 23px;
    left: -28px;
    top: 0px;
    content: "";
}
.facebook::after {
    background: url(/ex/img/naverlabs/facebook.png) no-repeat;
}
.instagram::after {
    background: url(/ex/img/naverlabs/insta.png) no-repeat;
}
.youtube::after {
    background: url(/ex/img/naverlabs/youtube.png) no-repeat;
}
.linkedin::after {
    background: url(/ex/img/naverlabs/linkedin.png) no-repeat;
}