@charset "UTF-8";
/* 네이버랩스 tab~mobile 통합 */

header {
    background-color: #000000;
}
.logo_sprite {
    width: 127px;
    height: 13px;
    background-position: -10px -49px;
    margin: 0 auto;
}
.menu span,
.menu .eng {
    display: none;
}