@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

.other,
.parent {
    border: 5px solid tomato;
}
.parent {
    position: relative;
}
.me {
    background-color: black;
    color: white;
    position: absolute;
    top: 0px;
    left: 0px;
}
.box {
    width: 300px;
    height: 400px;
    margin: 100px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    background: url(/ex/img/hanwha/discover.png) no-repeat;
    background-size: 200%;
    background-position: center;
    transition: all 2s;
}
.box p {
    width: 100%;
    height: 30%;
    padding: 20px;
    font-size: 13px;
    transform: translateY(100%);
    background: rgba(205, 205, 205, 0.7);
    transition: all 2s;
}
.box:hover {
    background-size: 180%;
    /* transition: all 2s; */
}
.box:hover p {
    transform: translateY(0%);
    /* transition: all 2s; */
}
.circle {
    margin: 120px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}
.circle::after {
    height: 100px;
    content: "";
    border: 1px solid lavender;
    position: absolute;
    top: -24%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.circle::before {
    width: 300px;
    height: 300px;
    position: absolute;
    border-radius: 50%;
    border: 1px solid lavender;
    background: transparent;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.circle p {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 5px rgba(205, 205, 205, 0.7);
    transition: transform 0.7s ease-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.circle p.front {
    z-index: 5;
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 3px 5px 5px rgb(125, 67, 197);
    letter-spacing: 5px;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.circle.c01 p.front {
    background-color: rgb(216, 182, 231);
}
.circle p.back {
    z-index: 2;
    background-color: rgb(166, 214, 233);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.circle p.back span {
    font-size: 100px;
    color: white;
    text-shadow: 0px 5px 5px cornflowerblue;
}
.circle:hover p.front {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.circle:hover p.back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.aniBox {
    display: flex;
    justify-content: center;
    margin: 100px;
    width: 200px;
    height: 400px;
    border-top: 5px solid rgb(168, 120, 236);
    border-bottom: 5px solid rgb(230, 82, 218);
}
@keyframes ball {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translateY(200%);
        height: 100px;
        background-color: rgb(168, 120, 236);
    }
    55% {
        transform: translateY(350%);
        height: 90px;
        background-color: rgb(230, 82, 218);
    }
    65% {
        transform: translateY(250%);
        height: 100px;
        background-color: rgb(235, 78, 167);
    }
    95% {
        transform: translateY(200%);
        height: 100px;
        background-color: rgb(234, 100, 176);
    }
    100% {
        transform: translateY(0%);
        /* background-color: rgb(168, 120, 236); */
    }
}
.myAni {
    /* margin: 100px; */   
    width: 100px;
    height: 90px;
    background: rgb(168, 120, 236);
    /* border: 2px solid purple; */
    border-radius: 50%;
    cursor:pointer;
    animation-name: ball;
    animation-duration: 2s;
    /* animation-direction: alternate; */
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.2, 0.19, 0.69, 0.73);
}
.iconFrame {
    display: flex;
}
.iconBox {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100px;
    height: 100px;
    position:relative;
    margin: 0 20px;
    border: 1px solid salmon;
    cursor: pointer;
}
.iconBox:hover::before {
    transform: translate(-50%, -70%);
}
.iconBox::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease;
    background: url(https://www.guri.go.kr/site/www_2023/images/main/favorite_link_sprite.png) no-repeat;
    /* z-index: -1; */
}
.iconBox.no6::before {
    background-position: -180px 0;
}
.iconBox.no7::before {
    background-position: -120px 0;
}
.iconBox.no8::before {
    background-position: -1875px 0;
}
.iconBox.no9::before {
    background-position: 0;
}
.container {
    position : relative;
    width : 1100px;
    display : flex;
    align-items : center;
    justify-content : flex-start;
    flex-wrap : wrap;
    padding : 30px;
    margin: 100px;
}
.container .card {
    position: relative;
    max-width : 300px;
    height : 215px;
    background-color : #fff;
    margin : 30px 10px;
    padding : 20px 15px;
    display : flex;
    flex-direction : column;
    box-shadow : 0 5px 20px rgba(0,0,0,0.5);
    transition : 0.3s ease-in-out;
    border-radius : 15px;
}
.container .card:hover {
    height : 320px;    
}
.container .card .image {
    position : relative;
    width : 260px;
    height : 221px;
    top : -40%;
    left: 50%;
    transform: translateX(-50%);
    /* left: 8px; */
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
    border-radius : 15px;
}
.container .card .image img {
    max-width : 100%;
    border-radius : 15px;
}
.container .card .content {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
}
.container .card:hover .content {
    margin-top : 30px;
    visibility : visible;
    opacity : 1;
    transition-delay: 0.2s;   
}
.nespresso {
    width: 300px;
    height: 100px;
    background-color: aquamarine;
    text-align: center;
    line-height: 100px;
    position: relative;
    transition: background-color 1s, opacity 0.3s;
}
.nespresso:hover {
    background-color: cornflowerblue;
    color: #000;
}
.nespresso:hover .origin {
    /* display: none; */
    opacity: 0;
}
.nespresso:hover .hoverText {
    /* display: block; */
    opacity: 1;
}
.origin, .hoverText {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: opacity 0.3s;
}
.hoverText {
    /* display: none; */
    opacity: 0;
}
.ani {
    display: flex;
    margin: 30px;
    /* padding: 100px; */
}
.ani > div {
    font-size: 50px;
    font-weight: 800;
    color: salmon;
}
.scrollAni {
    margin: 1000px 0 300px 100px;
    width: 200px;
    height: 200px;
    background: pink;
}